* {
  font-family: 'Nunito', sans-serif;
}

body {
  --purple: #b876bc;
  height: 100vh;
  padding: 50px;
  margin: 0;
  background: var(--purple);
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 30px;
}