#pageAudio {
  width: 90%;
  margin: auto;
  padding: 10px;
}
#pageHeader {
  width: 90%;
  margin: auto;
  background-color: #d09693;
  padding: 10px;
}
#pageBody {
  width: 90%;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}
#pageFooter {
  width: 90%;
  margin: auto;
  background-color: #d09693;
  padding: 10px;
}
.section {
  display: none;
  padding: 10px;
  font-size: 18px;
  height: 200px;
}

/* new code */


button {
  border: none;
  cursor: pointer;
  outline: none;
}

button#playpausebtn {
  background: url(https://image.flaticon.com/icons/svg/189/189889.svg) no-repeat;
  width: 30px;
  height: 30px;
}

button#mutebtn {
  background: url(https://image.flaticon.com/icons/svg/204/204287.svg) no-repeat;
  width: 30px;
  height: 30px;
}

a:link {
  color: #000;
}
a:hover {
  background: #fff;
}
a:visited {
  color: #000;
}
a:active {
  background: #eeffa8;
}

#footer {
  color: #000;
}
#footer a:link {
  color: #000;
}
#footer a:hover {
  background: #fff;
}
#footer a:visited {
  color: #000;
}
#footer a:active {
  background: #eeffa8;
}
