<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于认识一周的~~,手机：15671640897即wechat</title>
    <link rel="stylesheet" href="/static/css/card.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700">

</head>
<body>
<div class="wrapper">
    <h1>我的纸屑</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://picsum.photos/520/520/)">
                    <div class="inner">
                        <p>Day One</p>
                        <span>邂逅</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>有个女孩站在一个男孩前面，这是武汉SimpleFire现场，
                            男孩觉得女孩笑起来真美，于是鼓起勇气给她拍了张照片</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://picsum.photos/501/501/)">
                    <div class="inner">
                        <p>Day Two</p>
                        <span>回程</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>男孩在地铁上，但是满眼都是女孩的笑容，以及音乐节的氛围，
                            尽管同行的伙伴再也不会去线下，明明自己才是那个陪着过来的</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                    <div class="inner">
                        <p>Day Three</p>
                        <span>触动</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>男孩尝试跟女孩聊天.东一句西一句，可能不着边际，可能有些天马行空，很高兴女孩相信他，他可以老气横秋的回答一些问题</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                    <div class="inner">
                        <p>Day Four-Five</p>
                        <span>沟通</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>男孩跟女孩互相交流自己的学生生活，虽然他觉得自己的生活挺平淡的，听着女孩描述自己的大学生活，仿佛回到了几年前，那时候他也才18岁</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                    <div class="inner">
                        <p>Day Six</p>
                        <span>忙碌</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>每个周四都是男孩最忙的时候，但是他还是尽量与女孩聊天，尽管他仍然不是一个聊天好手，不过好歹每周的麻烦的事能够顺利处理完，还结束了研究生第一门课</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                    <div class="inner">
                        <p>Day Seven</p>
                        <span>。</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p style="font-size: 0.7rem">时间恋旅人，关于这部电影，虽然我觉得穿梭时空逻辑性有点扯，但是想想生活，有些事本来就没有逻辑性。也许原本有个我在上周六也去音乐节，但是并没有勇气认识你，
                        就像电影最后，享受每一天，不必需要重新来过才能体验今天的闪光点，我至今还记得那句名言，生活中并不缺少美，缺少的是发现美的眼睛——罗丹</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>