<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="/static/css/demo_25.css">
         <link rel="stylesheet" type="text/css" href="/static/css/typewriter.css">

    <title>周末又快到，我们认识都快一周了</title>
</head>
<body>
<div class="container">
    <p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p>
	<div class="background"></div>
	<div id="particles"></div>
	<div class="foreground"></div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/demo_25.js"></script>

</html>